/* Make mindmap colors readable */
.theme-light .mermaid {
  --color-red: #ff7777;
  --color-orange: #ffbb99;
  --color-yellow: #ffeeaa;
  --color-green: #bbffbb;
  --color-cyan: #bbffee;
  --color-blue: #aaccff;
  --color-purple: #ddbbff;
  --color-pink: #ffcccc; 
}

.mermaid .mindmap-node {
  border:10px solid black;
  font-weight: bold;;
}